*{
    margin: 0; 
    padding: 0;
 }
 .main{
 
     width: 100%;
  background-color: lightgray;
  background-position: center;
  background-size: cover;
  height: 109vh;
 }
 .navbar{
 width: 1200px;
 height: 75px;
 margin:auto;
 
 }
 .icon{
     width: 200px;
     float: left;
     height: 70px;
 }
 .logo{
     color: brown;
     font-size: 35px;
     font-family: Arial, Helvetica, sans-serif;
     padding-left:20px;
     float: left;
     padding-top: 10px;
 }
 .menu{
     width: 400px;
     float: left;
     height: 70px;
 }
 ul{
     float: left;
     display: flex;
     justify-content: center ;
     align-items: center;
 }
 ul li{
     list-style: none;
     margin-left: 62px;
     margin-top: 27px;
     font-size: 14px;
 }
   ul li a{
       text-decoration:none;
       color:black;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bold;
       transition:0.4s ease-in-out;
 
   }
   ul li a:hover{
   color:brown;
   }
   .search{
 width: 330px;
 float: left;
 margin-left: 270px;
   }
   
   
   .content{
       width: 1200px;
       height: auto;
       margin: auto;
       color: black;
       position: relative;
   }
   .content .par{
       padding-left:20px;
       padding-bottom: 25px;
       font-family: Arial, Helvetica, sans-serif;
       letter: spacing 1.2px;
       line-height: 30px;
   }
  
   
 .content .cn{
     width: 160px;
     height: 40px;
     background-color: brown;
     border: none;
     margin-bottom: 10px;
     margin-left: 20px;
     font-size: 18px;
     border-radius: 10px;
     cursor: pointer;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .content .cn a{
     text-decoration: none;
     color:black;
     transition: .3s ease;
 }
 .cn:hover{
     background-color: white;
 }
 .content span{
     color: brown;
     font-size: 60px;
 }
 .form{
     width: 250px;
     height: px;
     background: lightgray;
     position: absolute;
     top: -20px;
     left: 870px;
     border-radius: 20px;
     padding: 25px;
 }
  .form{
      width: 220px;
      font-family: sans-serif;
      text-align:center;
     color: brown;
     font-size: 22px;
     background-color:whitesmoke ;
     border-radius:10px ;
     margin: 2px;
     padding: 8px;
     }
     .form input{
         width: 100px;
         height: 25px;
         
          border-bottom: 1px solid brown;
          border-top: none;
          border-left: none;
          color: brown;
          font-size: 15px;
          letter-spacing: 1px;
          margin-top: 30px;
          font-family: sans-serif;
     }
 .form input:focus{
     outline: none;
 
 }
 ::placeholder{
     color: brown;
     font-family: Arial, Helvetica, sans-serif;
 
 }
 .btnn{
    width: 200px;
    height: 40px;
    background-color: brown;
    margin-top: 30px;
    font-size: 18px;
 border-radius: 10px;
 cursor: pointer;
 color: white;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .btnn:hover{
     background-color: aliceblue;
     color: brown;
 }
 .btnn a{
     text-decoration: none;
     color: black;
     font-weight: bold;
 }
 .liw{
     padding-top: 15px;
     padding-bottom: 10px;
     text-align: center;
 color: brown;
 }